header{
    text-align: center;
    background-color: #0077b6;
    color: white;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    height: 100px;

}
.about me{
    text-align: center;
    background-color:#f0faff ;
    border: solid 2px #a9c3dd;
    width: 1100px;
    height: 200px;
    margin: 10px auto;
    padding: 10px;
    overflow-y: scroll;
}
.about me h2{
        border: solid 2px #06417b ;
        color: #0360f5;
        text-align: start;
        margin-top: 2px;
}
h2{color: #0077b6;}
.my projects{
    background-color: white;
    width: 1200px;
    margin: 50px auto;
    padding: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
}
.project{
    border: 1px solid #0077b6;
    border-radius: 4px;
    padding: 10px 5px;
    background-color: #ffff;
    text-align: center;
}
.project img{
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}
.project p{
    display: block;
    line-height: 1.5;
    padding: 0px 5px;
    color: #666;
}
.project a{
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.github-button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #00bcd4;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10px;
}

.my projects h2 {
    color: #007bff; 
    margin-bottom: 20px;
    font-weight: 500;
}

footer{
    background-color: rebeccapurple;
    width: 100%;
    height: 25px;
}
footer p{
    margin:0;
    padding: 5px;
    color: white;
    font-size:bold;
    text-align: center;
    background-color: #007bff;
}










































.footer {
    text-align: center;
    padding: 15px;
    background-color: #eee;
    width: 100%;
    margin-top: 20px;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ddd;
}


